{% extends 'base_layout.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th>story</th>
        <th>author</th>
        <th>datecreated</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.story_title }}</td>
          <td>{{ user.story_author }}</td>
          <td>{{ user.date_created }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if users.has_other_pages %}
    <ul class="pagination">
      {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in users.paginator.page_range %}
        {% if users.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if users.has_next %}
        <li><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}


{% endblock %}