{% extends 'base_layout2.html' %}
{% load static %}

{% block content %}

<div class="container mb">


    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-8 mt-4 rounded-sm ">
         <div class="card">
                <img class="card-img-top" src="{{profile_details.profile_pic.url}}" alt="Card image" height="200px">
                
                <div class="card-body">
                    <table>
                        <tr>
                        <h3 class="card-title">{{profile_details.name}}</h4></tr>
                       <tr><td>Username:</td><td>{{profile_details.username}}</td></tr>
                       <tr><td>Email ID:</td><td>{{profile_details.mailid}}</td></tr>
                        <tr><td>Stories:</td><td>{{profile_details.story_count}}</td></tr>
                        <tr>
                       <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit profile</a>
                       </tr>
                        </table>
                      </div>



</div>

        </div>

                    

        

        <div class="col-2"></div>
    </div>


</div>


{% endblock %}