
{% extends 'base_layout2.html' %}
{% load static %}



{% block content %}

<div class="container mb3">

   
    <div class="row pt-4">
       
           {% for story in stories %}
        
        
           {% if story.story_type == 0 or story.story_type == 1 %}
<div class="col-md-4" style="float:left;">
           <div class="card mt-2" >
               <img class="card-img-top"  src="{{story.blog_story.blog_pic.url}}" width="100%" height="250px;">
               <div class="card-body pb-3">
                   <table ><tr ><a href="{% url 'story_detail_page' story.story_id%}">{{story.story_title}}</a></tr>
                    <tr><td colspan="2">
                        {{story.blog_story.blog_description|truncatewords:8 }}
                    </td></tr>
                       <tr><td>Author</td>
                           <td>{{story.story_author}}</td></tr>
                       <tr><td>Created on</td><td>{{story.date_created}}</td></tr>
                       <tr><td>Story Type</td>
                       <td>
                           {% if story.story_type == 0 %}
                           <span class="badge badge-success">Event</span>
                           {% elif story.story_type == 1 %}
                           <span class="badge badge-info">Blog</span>
                           {% elif story.story_type == 2 %}
                           <span class="badge badge-warning">Image Gallery</span>
                           {% endif %}
                       </td>

                       </tr>
                   </table>
               </div>
               
</div>
</div>
{% else %}
<div class="col-md-4" style="float:left;">
        <div class="card mt-2" >
            
            <img src="{{story.image_story.first.file.url}}" width="100%" height="250px">
           

         
            <div class="card-body pb-3">
                <table ><tr ><a href="{% url 'story_detail_page' story.story_id%}">{{story.story_title}}</a></tr>
                <tr>
                    <div  style="height:65px;">

                    </div>
                </tr>
                    <tr><td>Author</td>
                        <td>{{story.story_author}}</td></tr>
                    <tr><td>Created on</td><td>{{story.date_created}}</td></tr>
                    <tr><td>Story Type</td>
                    <td>
                        {% if story.story_type == 0 %}
                        <span class="badge badge-success">Event</span>
                        {% elif story.story_type == 1 %}
                        <span class="badge badge-info">Blog</span>
                        {% elif story.story_type == 2 %}
                        <span class="badge badge-warning">Image Gallery</span>
                        {% endif %}
                    </td>

                    </tr>
                </table>
            </div>
            
</div>
</div>
{% endif %}

           

           {% endfor %}

        </div>

        <div class="row mt-4">
            <div class="col-md-3"></div>

            <div class="col-md-6">
        {% if stories.has_other_pages %}
  <ul class="pagination">
    {% if stories.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ stories.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span>&laquo;</span></li>
    {% endif %}
    {% for i in stories.paginator.page_range %}
      {% if stories.number == i %}
        <li class="active page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if stories.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ stories.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
<div class="col-md-3"></div>

</div>
</div>


{% endblock %}
