@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600&display=swap');

a {
 font-family: 'Gelasio', serif;font-size:22px;color:black;
}


td {font-family: 'Crimson Text', serif;font-weight:600;font-size:24px}

div {
  position: relative;
  overflow: hidden;
}
input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

